:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent: #2196f3;
  --second-text-accent: #ffffff;
  --background-color: #ffffff;
  --sec-background-color: #2f303a;
  --third-background-color: #f5f4fa;
  --logo-color: #000000;
}
body {
  font-family: 'Roboto', sans-serif;
  сolor: var(--primary-text-color);

  font-size: 14px;
  line-height: 1.71;
  font-weight: 400;

  letter-spacing: 0.03em;
}
/* основной цвет текста #757575;*/
/*вторичный цвет текста background: #212121;*/
/*background: #000000;
/*background: #FFFFFF;
/*акцент: #2196F3;
/*background: #F5F4FA;*/
/*background-color 2F303A */
/*background-colorFFFFFF*/

/*logo*/
.logo {
  color: var(--logo-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.a .logo {
  display: inline-block;
}
.logo-accent {
  color: var(--accent);
}

/*убирает точки со всех списков*/
ul {
  list-style: none;
}

/* Site nav*/
.site-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent);
}

.site-nav .link.current {
  color: var(--accent);
}
.nav {
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
/*герой*/
.hero {
  text-align: center;
  padding-top: 200px;
  padding-left: 452px;
  padding-right: 452px;
  padding-bottom: 200px;
  background-color: var(--sec-background-color);
  color: var(--second-text-accent);
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900px;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/*section*/
.section .container {
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  text-decoration: none;
}

/*features-list*/
.features-list .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features-list .text {
  font-size: 14px;
  line-height: 1.17;
}

/*кнопка заказать услугу*/

.button {
  display: inline-block;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  color: var(--second-text-accent);
  background-color: var(--accent);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  border: 1px solid tansparent;
  border-radius: 4px;
  min-width: 200px;
}

.button:hover,
.button:focus {
  background-color: var(--background-color);
  color: var(--accent);
}

/*section our advantages*/
.our-advantages .title {
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 10px;
}

.our-advantages .text {
  margin-top: 0;
  margin-bottom: 0;
}

.our-advantages {
  padding-top: 94px;
  padding-bottom: 94px;
  padding-left: 215px;
  padding-right: 215px;
}

.our-advantages .container {
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

/*section our-team*/

.our-team .container {
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
/*фильтр*/

.filter {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border: 1px solid tansparent;
}

.filter:hover {
  background-color: var(--accent);
}

/*our team */
.name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.profession {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/*contacts*/
.address {
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  color: var(--second-text-accent);
}
.contacts .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent);
}

.contacts {
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
/* our projects */
.project-name {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-decoration: none;
}

.project-text {
  font-size: 16px;
  line-height: 1, 9;
  text-decoration: none;
}
.project-link {
  text-decoration: none;
}

footer {
  background-color: var(--sec-background-color);
}
.email,
.phone {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
}
